@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: rgb(21, 25, 29);
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #2f78ac;
}
body {
  background-color: var(--bg-color);
  min-height: 100vh;
}

/*--------header--------*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0 100px;
  background-color: var(--bg-color);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.navbar h1 {
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.8rem;
}
span {
  color: var(--main-color);
  box-shadow: var(--main-color);
  cursor: pointer;
}
ul {
  display: flex;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  margin-right: 2.5rem;
  transition: 0.3s ease-in-out;
}
ul li:hover a {
  color: var(--main-color);
}
ul li:last-child a {
  margin: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgb(21, 25, 29);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.hide {
  display: none;
}
/*--------download button--------*/

.btn {
  background: var(--main-color);
  color: var(--text-color);
  padding: 6px 24px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 0.5rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
}
.btn a {
  color: var(--text-color);
}
.btn:hover {
  background: skyblue;
  transform: scale(1.05);
}

/*--------boxicon--------*/

#all-icon {
  font-size: 1.5rem;
}
#menu {
  font-size: 32px;
  display: none;
  color: var(--text-color);
}

/*--------Home info--------*/

.main {
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.main h2 {
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.8rem;
}
.main h2 span {
  color: var(--main-color);
  text-decoration: underline;
}
.main p.title {
  font-size: 2.7rem;
  font-weight: 600;
  color: var(--text-color);
  margin-top: 0.5rem;
}
.main p.subtitle {
  font-size: 1rem;
  color: var(--text-color);
  margin-top: 1.8rem;
}
.main img {
  width: 12.5rem;
  height: 14rem;
  margin-top: 4.5rem;
  border-radius: 1.5rem;
  object-fit: cover;
  margin-bottom: 2.5rem;
}
.main img:hover {
  box-shadow: 0 0 25px var(--main-color);
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

/*--------text animation--------*/

.title span {
  position: relative;
}
.title span::before {
  content: "FINANCE & ADMIN ASSISTANT";
  color: var(--main-color);
  animation: words 20s infinite;
}
.title span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--main-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s infinite;
}
/*@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}*/
@keyframes words {
  0%,
  100% {
    content: "FINANCE & ADMIN ASSISTANT";
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

/*--------more info--------*/

.information {
  margin-top: 12px;
  padding: 0 400px;
  display: flex;
  flex-wrap: nowrap;
  gap: 18px;
}
.information .item {
  background: #292b2e;
  justify-content: center;
  flex-direction: column;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  padding: 24px 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.information .item:hover {
  box-shadow: 0px 0px 25px var(--main-color);
  transform: scale(1);
}
.information .item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.information .item .icon i {
  font-size: 2.5rem;
  color: var(--main-color);
}
.information .item:hover .icon i {
  color: var(--text-color);
}
.information .item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.information .item .info h3 {
  color: var(--main-color);
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.information .item .info p {
  color: grey;
  font-size: 1rem;
  font-weight: 200;
  align-items: center;
  justify-content: center;
  display: flex;
}
.information .item:hover .info p {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 200;
}
/*--------ABout Me--------*/

section {
  background-color: var(--bg-color);
}

/*--------Seprator--------*/

.seprator {
  margin: 5rem 3rem 2rem 2rem;
  padding: 1rem 1.3rem;
  background: rgba(255, 255, 255, 0.08);
  display: inline-block;
  color: var(--text-color);
  border-radius: 1rem;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 0 3rem;
}
.about img {
  width: 17.5rem;
  border-radius: 1.5rem;
}
.about img:hover {
  box-shadow: 0px 0px 25px var(--main-color);
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.about .info h3 {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.about .info p {
  color: var(--text-color);
  font-size: 1rem;
}
.about .info button {
  margin-top: 2rem;
}

/*--------My Skill--------*/

.skills {
  display: flex;
  justify-content: space-around;
  padding: 0 3rem;
}

.skills .left {
  width: 50rem;
}
.skills .left .info h3 {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}
.skills .left .info p {
  color: var(--text-color);
  font-size: 1rem;
}
.skills .left button {
  margin-top: 2rem;
}
.skills .right {
  width: 26.25rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.skills .right .item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #383e45;
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
}
.skills .right .item i {
  font-size: 2rem;
  color: var(--text-color);
}
.col {
  margin: 0px 100px;
}
.col .contents {
  padding: 0px 30px;
  border-left: 5px solid #3f3f3f;
}
.col .contents .box {
  position: relative;
  padding: 20px;
  background-color: #292b2e;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
  border-radius: 16px;
}
.col .contents .box:hover {
  box-shadow: 0px 0px 25px var(--main-color);
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.col .contents .box::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background-color: var(--main-color);
  border: 2px solid white;
}
.box h4 {
  position: relative;
  color: var(--main-color);
}
.box h3 {
  font-size: 16px;
  padding: 6px 0px 6px;
  font-family: helvetica;
  color: #c6c6c6;
}
.box p {
  line-height: 1.2;
  color: #666;
  font-size: 16px;
}
.box p strong {
  line-height: 1.2;
  color: skyblue;
  font-size: 16px;
}

/*--------Footer--------*/

footer {
  position: relative;
  background: #1c1c1c;
  padding: 80px 50px 40px;
  margin-top: 100px;
}
footer .start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background-color: var(--main-color);
  padding: 30px 25px;
  border-radius: 15px;
  width: 70%;
  top: -16%;
  left: 15%;
}
footer .start h3 {
  color: var(--text-color);
}
footer .start p {
  font-size: 13px;
  width: 35%;
  color: var(--text-color);
}
.btn-do-this {
  background: transparent;
  border: 1px solid skyblue;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 100px;
  transition: all 0.3s ease;
}
.btn-do-this a {
  color: var(--text-color);
}
.btn-do-this:hover {
  background: skyblue;
  transform: scale(1.05);
}
footer .cols {
  display: flex;
  align-items: start;
}
footer .cols .about-col {
  flex: 3;
}
footer .cols .about-col h3 {
  color: var(--main-color);
  margin-bottom: 20px;
}
footer .cols .about-col p {
  color: var(--text-color);
  font-size: 0.8rem;
}
footer .cols .links-col {
  flex: 3;
}
footer .cols .links-col h4,
footer .cols .news-col h4,
footer .cols .links-social h4 {
  color: var(--text-color);
  margin-bottom: 20px;
}
footer .cols .links-col a {
  display: block;
  text-decoration: none;
  color: #7b7b7b;
  font-size: 14px;
  line-height: 26px;
  transition: 0.3s ease-in-out;
}
footer .cols .links-col a:hover {
  color: var(--main-color);
}
footer .cols .links-social {
  flex: 3;
}
footer .cols .links-social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #383e45;
  color: var(--text-color);
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
}
footer .cols .news-col {
  flex: 3;
}
footer .cols .news-col p {
  color: #7b7b7b;
  font-size: 15px;
}
footer .cols .news-col form {
  width: 100%;
  margin-top: 20px;
  position: relative;
}
footer .cols .news-col form input {
  width: 100%;
  height: 50px;
  background: #212529;
  color: var(--text-color);
  border: none;
  padding: 0 80px 0 24px;
  border-radius: 16px;
  font-weight: 400;
  font-size: 13px;
  text-align: left;
}
footer .cols .news-col form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: var(--main-color);
  border: none;
  border-radius: 16px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
footer .cols .news-col form button i {
  align-items: center;
  padding: 0.5rem;
}
